<div class="container main-content">
  <div class="row margin-top">
    <div class="col-xs-12">
    </div>
  </div>
  <div class="row dash-title">
    <div class="col-xs-12 headers-block">
      <h1>Welcome Back!</h1><span class="muted-text">Let's see what happened while you were away.</span>
    </div>
  </div>
  <div>
    <div class="row margin-top">
      <div class="col-xs-6">
        <a class="panel btn-notification container-flex flex-between" href="/orders?status=to_order"><span class="container-flex"><span><svg class="icon-sidebar-file">
          <use xlink:href="/img/app-icons.svg#icon-sidebar-file" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> 
          <span class="<% if @num_orders_to_order > 0 %>body-text<% else %>muted-text<% end %>">To Order</span></span>
          <span class="container-flex">
            <% if @num_orders_to_order > 0 %><span class="badge badge-warning"><%= @num_orders_to_order %></span><% end %>
            <span><svg class="icon-full-arrow-right"><use xlink:href="/img/app-icons.svg#icon-full-arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
            </span>
          </span>
        </a>
      </div>
      <div class="col-xs-6">
        <a class="panel btn-notification container-flex flex-between" href="/orders?status=processing"><span class="container-flex"><span><svg class="icon-sidebar-file">
          <use xlink:href="/img/app-icons.svg#icon-sidebar-file" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> 
          <span class="<% if @num_orders_processing > 0 %>body-text<% else %>muted-text<% end %>">In Processing</span></span>
          <span class="container-flex">
            <% if @num_orders_processing > 0 %><span class="badge badge-primary"><%= @num_orders_processing %></span><% end %>
            <span>
              <svg class="icon-full-arrow-right"><use xlink:href="/img/app-icons.svg#icon-full-arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
            </span>
          </span>
        </a>
      </div>
      <!-- <div class="col-xs-4">
        <a class="panel btn-notification container-flex flex-between" href="/notifications"><span class="container-flex"><span><svg class="icon-sidebar-bell">
        <use xlink:href="/img/app-icons.svg#icon-sidebar-bell" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="body-text">Notifications</span></span> <span class="container-flex"><span class="badge badge-danger">1</span> <span><svg class="icon-full-arrow-right">
        <use xlink:href="/img/app-icons.svg#icon-full-arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span></span></a>
      </div> -->
    </div>

    <div class="row margin-top">
      <div>
        <div class="col-sm-12 col-md-6">
          <h3 class="dash-filter-title">Total Sales</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="row date-interval-picker">
            <div class="col-xs-4 relative">
              <div class="input-icon-block">
                <input class="date form-control input-icon date-from" data-format="yyyy-MM-dd" name="date-from" placeholder="YYYY-MM-DD" type="text" value="" data-toggle="datepicker">
                <!-- <div class="add-on">
                  <button class="btn-transparent" type="button"><svg class="icon-calendar icon-input">
                  <use xlink:href="/img/app-icons.svg#icon-calendar" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></button>
                </div> -->
              </div>
            </div>
            <div class="col-xs-4 relative">
              <div class="input-icon-block">
                <input class="date form-control date-to" data-format="yyyy-MM-dd" name="date-to" placeholder="YYYY-MM-DD" type="text" value="" data-toggle="datepicker">
                <!-- <div class="add-on">
                  <button class="btn-transparent" type="button"><svg class="icon-calendar icon-input">
                  <use xlink:href="/img/app-icons.svg#icon-calendar" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></button>
                </div> -->
              </div>
            </div>
            <div class="col-xs-4">
              <div class="dropdown">
                <select class="chart-dropdown btn btn-default btn-block dropdown-toggle btn-icon btn-icon-right" data-toggle="dropdown" type="button">
                  <option value="today">Today</option>
                  <option value="yesterday">Yesterday</option>
                  <option value="last_7" selected>Last 7 days</option>
                  <option value="last_30">Last 30 days</option>
                  <option value="last_90">Last 90 days</option>
                  <option value="week_to_date">Week to date</option>
                  <option value="month_to_date">Month to date</option>
                  <option value="quarter_to_date">Quarter to date</option>
                  <option value="year_to_date">Year to date</option>
                  <option value="custom">Custom</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-top equal-height">
      <div class="col-xs-8">
        <div class="panel">
          <div class="panel-body">
            <div class="">
              <div class="chart-legend">
                <div class="chart-legend-line">
                  <div class="first-legend legend-circle"></div>Sales
                </div>
                <div class="chart-legend-line">
                  <div class="second-legend legend-circle"></div>Cost
                </div>
              </div>
              <canvas id="dashboard-chart" height="255" style="display: block;" width="700"></canvas>

              <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js' %>

              <script>
                /**
                 * Script is placed inline because it requires variables from the controller. js.erb files would mess up with application.js caching
                 */

                var ctx = document.getElementById('dashboard-chart');
                var dashboardChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                    datasets: [{
                      label: 'Cost',
                      data: <%= raw format_chart_data(@total_cost_by_day).to_json %>,
                      borderWidth: 2,
                      backgroundColor: 'rgba(255, 98, 42, 0.5)',
                      borderColor: 'rgb(255, 98, 42)',
                      fill: 'origin',
                      pointRadius: 0,
                      pointHoverBorderColor: 'rgb(253, 253, 253)',
                      pointHoverRadius: 5
                    },{
                      label: 'Sales',
                      data: <%= raw format_chart_data(@total_price_by_day).to_json %>,
                      borderWidth: 2,
                      backgroundColor: 'rgba(100, 210, 81, 0.5)',
                      borderColor: 'rgb(100, 210, 81)',
                      fill: '-1',
                      pointRadius: 0,
                      pointHoverBorderColor: 'rgb(253, 253, 253)',
                      pointHoverRadius: 5
                    },{
                      label: 'Orders',
                      data: <%= raw format_chart_data(@order_count_by_day).to_json %>,
                      showLine: false,
                      pointRadius: 0,
                      pointHoverRadius: 0,
                    }]
                  },

                  options: {
                    responsive: true,

                    hover: { 
                      intersect: false, 
                      mode: 'index' 
                    },

                    tooltips: { 
                      intersect: false,
                      enabled: false,
                      mode: 'index',
                      displayColors: false,
                      custom: function(tooltipModel) {
                        // Tooltip Element
                        var $tooltip = $('#chartjs-tooltip');

                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                          $tooltip.css({
                            'opacity': 0,
                            'z-index': -1
                          });
                          return;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                          $tooltip.find('.tooltip-title').text(tooltipModel.title.join(' - '));

                          function getBodyRow(header, value) {
                            return `
                              <div class="tooltip-body-row">
                                <div>${header}</div>
                                <div>${value}</div>
                              </div>`;
                          }

                          var dp = tooltipModel.dataPoints;

                          var tooltipBody = getBodyRow(dp[2].yLabel + ' Orders', dp[1].yLabel.toFixed(2) + " <%= @currency %>");
                          tooltipBody += getBodyRow('Cost', dp[0].yLabel.toFixed(2) + " <%= @currency %>");
                          tooltipBody += getBodyRow('Earnings', "<span class='green-color'>" + (dp[1].yLabel - dp[0].yLabel).toFixed(2) + " <%= @currency %></span>");

                          $tooltip.find('.tooltip-body').html(tooltipBody);
                        }

                        // `this` will be the overall tooltip
                        var position = this._chart.canvas.getBoundingClientRect();

                        $tooltip.css({
                          'left': tooltipModel.caretX + 60 + 'px',
                          'top': tooltipModel.caretY - 80 + 'px',
                          'opacity': 1,
                          'z-index': 10
                        });
                      }

                    },

                    legend: {
                      display: false
                    },

                    scales: {
                      xAxes: [{
                        type: "time",
                        time: {
                          format: 'MMM D',
                          round: 'day',
                          tooltipFormat: 'MMM D',
                          unit: 'day',
                          parser: 'YYYY-MM-DD'
                        },
                        display: true
                      }],
                      yAxes: [{
                        display: true
                      }]
                    }
                  }
                });
              </script>
            </div>
          </div>

          <div id="chartjs-tooltip">
            <div class="tooltip-title"></div>
            <div class="tooltip-body"></div>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="panel dash-metric">
          <div class="panel-header container-flex flex-between">
            <h3>Overview</h3>
            <div class="container-flex" data-original-title="" title="">
              <svg class="icon-base">
              <use xlink:href="/images/icons.svg#icon-sidebar-settings" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
            </div>
          </div>
          <div>
            <div class="dash-metric-row dash-metric-row-merged">
              <span class="dash-metric-label"><span>Sales</span> </span> <span class="number"><span class="number-value dash-metric-sales"><%= @total_sales %></span> <span class="number-currency muted-text"><%= @currency %></span></span>
            </div>
            <div class="dash-metric-row">
              <span class="dash-metric-label"><span>Orders</span> </span> <span class="number"><span class="number-value dash-metric-orders"><%= @order_count %></span> <span class="number-currency muted-text"></span></span>
            </div>
            <div class="dash-metric-row">
              <span class="dash-metric-label"><span>Costs</span></span>
              <span class="number"><span class="number-value dash-metric-costs"><%= @total_cost %></span> <span class="number-currency muted-text"><%= @currency %></span></span>
            </div>
            <div class="dash-metric-header">
              <span class="dash-metric-label"><span>Earnings</span> </span> <span class="number"><span class="number-value dash-metric-earnings"><%= '%.2f' % @total_earnings %></span> <span class="number-currency muted-text"><%= @currency %></span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
