<div class="panel margin-bottom order" data-order-id="<%= order.id %>">
  <div>
    <div class="panel-header">
      <div class="container-flex flex-between">
        <div class="container-flex">
          <div class="order-flags space-small-right svg-container">
            <span><svg class="icon icon-bookmark-o">
            <use xlink:href="/img/app-icons.svg#icon-bookmark-o" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span>
            <ul>
              <li class="active">
                <a href="#"><svg class="icon icon-bookmark-o">
                <use xlink:href="/img/app-icons.svg#icon-bookmark-o" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
              </li>
              <li class="">
                <a href="#"><svg class="icon icon-bookmark color-info">
                <use xlink:href="/img/app-icons.svg#icon-bookmark" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
              </li>
              <li class="">
                <a href="#"><svg class="icon icon-bookmark color-primary">
                <use xlink:href="/img/app-icons.svg#icon-bookmark" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
              </li>
              <li class="">
                <a href="#"><svg class="icon icon-bookmark color-success">
                <use xlink:href="/img/app-icons.svg#icon-bookmark" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
              </li>
              <li class="">
                <a href="#"><svg class="icon icon-bookmark color-warning">
                <use xlink:href="/img/app-icons.svg#icon-bookmark" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
              </li>
              <li class="">
                <a href="#"><svg class="icon icon-bookmark color-danger">
                <use xlink:href="/img/app-icons.svg#icon-bookmark" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
              </li>
            </ul>
          </div>
          <h3 class="nowrap space-small-top display-block"><span class="elephant-color">Order</span> <a href="https://<%= order.user.shopify_store_name %>.myshopify.com/admin/orders/<%= order.shopify_id %>" target="_blank"><%= order.shopify_name %></a> <span class="elephant-color"><%= order.ordered_at.strftime('%Y-%m-%d') %></span></h3>
          <div class="order-status space-small-left svg-container">
            <svg class="float-left icon-unfulfilled color-warning" data-original-title="" title="">
            <use xlink:href="/img/app-icons.svg#icon-unfulfilled" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <svg class="float-left icon-financial color-success" data-original-title="" title="">
            <use xlink:href="/img/app-icons.svg#icon-financial" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
          </div>
          <div class="margin-left">
            <span class="grey-color">Customer:</span> <a href="javascript:;" class="toggle-address-info"><%= order.shipping_address['name'] %></a>
          </div>
          <div class="margin-small-left flag-icon flag-size flag-icon-<%= order.shipping_address['country_code'].downcase %>"></div>
        </div>
      </div>
    </div>
    <div class="panel-header container-flex flex-top address-info hide">
      <button class="close btn-sm btn-icon-only btn-transparent"><span class="btn-icon-wrap"><svg>
      <use xlink:href="/images/icons.svg#icon-close" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span></button>
      <div class="margin-right flex-item-grid mb10">
        <div class="border-bottom mb10">
          <label><strong class="grey-color">Name:</strong></label>
          <div class="mb10 clearfix">
            <div class="float-left">
              <%= order.shipping_address['name'] %>
            </div>
            <div class="float-right">
              <a class="copy-button" data-clipboard-text="User Name" href="#" onclick="return false;">Copy</a>
            </div>
          </div>
        </div>
        <div class="border-bottom mb10">
          <label><strong class="grey-color">Country:</strong></label>
          <div class="mb10 clearfix">
            <div class="float-left">
              <%= order.shipping_address['country'] %>
            </div>
            <div class="float-right">
              <a class="copy-button" data-clipboard-text="US" href="#" onclick="return false;">Copy</a>
            </div>
          </div>
        </div>
        <div class="border-bottom mb10">
          <label><strong class="grey-color">Address:</strong></label>
          <div class="mb10 clearfix">
            <div class="float-left">
              <%= order.shipping_address['address1'] %>
            </div>
            <div class="float-right">
              <a class="copy-button" data-clipboard-text="123 Fake Street" href="#" onclick="return false;">Copy</a>
            </div>
          </div>
        </div>
        <div class="border-bottom <% unless order.shipping_address['address2'].present? %>hide<% end %>">
          <label><strong class="grey-color">Address 2:</strong></label>
          <div class="mb10 clearfix">
            <div class="float-left">
              <%= order.shipping_address['address2'] %>
            </div>
            <div class="float-right">
              <a class="copy-button" href="#" onclick="return false;">Copy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="margin-right flex-item-grid">
        <div class="border-bottom mb10">
          <label><strong class="grey-color">City:</strong></label>
          <div class="mb10 clearfix">
            <div class="float-left">
              <%= order.shipping_address['city'] %>
            </div>
            <div class="float-right">
              <a class="copy-button" data-clipboard-text="Dallas" href="#" onclick="return false;">Copy</a>
            </div>
          </div>
        </div>
        <div class="border-bottom mb10">
          <label><strong class="grey-color">Province:</strong></label>
          <div class="mb10 clearfix">
            <div class="float-left">
              <%= order.shipping_address['province'] %>
            </div>
            <div class="float-right">
              <a class="copy-button" data-clipboard-text="Texas" href="#" onclick="return false;">Copy</a>
            </div>
          </div>
        </div>
        <div class="border-bottom mb10">
          <label><strong class="grey-color">Zip:</strong></label>
          <div class="mb10 clearfix">
            <div class="float-left">
              <%= order.shipping_address['zip'] %>
            </div>
            <div class="float-right">
              <a class="copy-button" data-clipboard-text="90268" href="#" onclick="return false;">Copy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="margin-right flex-item-grid">
        <div class="border-bottom mb10" style="display: none;">
          <label><strong class="grey-color">Phone:</strong></label>
          <div class="mb10 clearfix">
            <div class="float-left"></div>
            <div class="float-right">
              <a class="copy-button" href="#" onclick="return false;">Copy</a>
            </div>
          </div>
        </div>
        <div class="border-bottom mb10" style="display: none;">
          <label><strong class="grey-color">Note:</strong></label>
          <div class="mb10 clearfix">
            <div class="float-left"></div>
            <div class="float-right">
              <a class="copy-button hide" href="#" onclick="return false;">Copy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="">
      <div class="panel-row" style="display: none;">
        <div class="container-flex flex-between border-bottom pb10">
          <div class="container-flex">
            <div class="mr10 ali-supplier"></div><strong class="display-inline grey-color margin-right">Order <span class="black-color">1 Ali Express items</span> from this order with a single click</strong>
          </div>
          <div class="container-flex align-right">
            <button class="btn btn-warning btn-icon-left"><span class="btn-icon-wrap"><svg class="icon-order">
            <use xlink:href="/img/app-icons.svg#icon-order" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> Order Ali Express products</button>
          </div>
        </div>
      </div>
      <div class="panel-row" style="display: none;">
        <div class="container-flex flex-between border-bottom pb10">
          <div class="container-flex">
            <div class="mr10 ali-supplier"></div><strong class="display-inline grey-color margin-right">Get tracking code for <span class="black-color">1 Ali Express items</span> from this order with a single click</strong>
          </div>
          <div class="container-flex flex-right">
            <button class="btn btn-primary"><span class="oberlo-loader absolute-center loader-sm" style="display: none;"></span> <span class="">Get Tracking Code</span></button>
          </div>
        </div>
      </div>
    </div>

    <%= render order.aliexpress_orders.order(id: :DESC) %>
  </div>
</div>
