<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lannister</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' %>

    <meta charset="UTF-8">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://app.oberlo.com/apple-touch-icon-57x57.png?v=2">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://app.oberlo.com/apple-touch-icon-114x114.png?v=2">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://app.oberlo.com/apple-touch-icon-72x72.png?v=2">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://app.oberlo.com/apple-touch-icon-144x144.png?v=2">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://app.oberlo.com/apple-touch-icon-60x60.png?v=2">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://app.oberlo.com/apple-touch-icon-120x120.png?v=2">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://app.oberlo.com/apple-touch-icon-76x76.png?v=2">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://app.oberlo.com/apple-touch-icon-152x152.png?v=2">
    <link rel="icon" type="image/png" href="https://app.oberlo.com/favicon-196x196.png?v=2" sizes="196x196">
    <link rel="icon" type="image/png" href="https://app.oberlo.com/favicon-96x96.png?v=2" sizes="96x96">
    <link rel="icon" type="image/png" href="https://app.oberlo.com/favicon-32x32.png?v=2" sizes="32x32">
    <link rel="icon" type="image/png" href="https://app.oberlo.com/favicon-16x16.png?v=2" sizes="16x16">
    <link rel="icon" type="image/png" href="https://app.oberlo.com/favicon-128.png?v=2" sizes="128x128">
    <meta name="application-name" content="&nbsp;">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="https://app.oberlo.com/mstile-144x144.png?v=2">
    <meta name="msapplication-square70x70logo" content="https://app.oberlo.com/mstile-70x70.png?v=2">
    <meta name="msapplication-square150x150logo" content="https://app.oberlo.com/mstile-150x150.png?v=2">
    <meta name="msapplication-wide310x150logo" content="https://app.oberlo.com/mstile-310x150.png?v=2">
    <meta name="msapplication-square310x310logo" content="https://app.oberlo.com/mstile-310x310.png?v=2">
  </head>
  <body class="fix-top-menu">
    <div id="app">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header" v-pre>
            <a href="#" onclick="return false;" class="navbar-brand container-flex">
              <svg class="icon icon-sidebar-products margin-small-right">
                <use xlink:href="/img/app-icons.svg#<%= icon_id %>"></use>
              </svg>
              <%= title %>
            </a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class=" active " v-pre>
              <a href="/products/import">Import List <% if @num_unimported_products > 0 %><span class="badge badge-primary"><%= @num_unimported_products %></span><% end %></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="sidebar-main">
        <a href="/dashboard" class="sidebar-logo">
          <svg class="icon-logo">
            <use xlink:href="/img/app-icons.svg#icon-logo"></use>
          </svg>
        </a>
        <nav class="nav-sidebar top">
          <ul class="nav-sidebar-menu">
            <li v-pre>
              <a href="/dashboard" class="<% if controller_name == 'dashboard' %>active<% end %>" target="">
                <svg class="icon icon-dashboard">
                  <use xlink:href="/img/app-icons.svg#icon-dashboard"></use>
                </svg>
              </a>
              <ul class="sub-menu ">
                <li>
                  <a href="/dashboard" target="" class="">Dashboard
                  </a>
                </li>
              </ul>
            </li>
            <li v-pre>
              <a href="/products/import" class="<% if controller_name == 'products' %>active<% end %>" target="">
                <svg class="icon icon-sidebar-products">
                  <use xlink:href="/img/app-icons.svg#icon-sidebar-products"></use>
                </svg>
              </a>
              <ul class="sub-menu ">
                <li>
                  <a href="/products/import" target="" class="">Import List <% if @num_unimported_products > 0 %><span class="badge badge-primary"><%= @num_unimported_products %></span><% end %></a>
                </li>
                <!-- <li>
                  <a href="/products" target="" class="">My Products <span class="badge badge-success">32</span></a>
                </li> -->
              </ul>
            </li>
            <li v-pre>
              <a href="/orders" class="<% if controller_name == 'orders' %>active<% end %>" target="">
                <svg class="icon icon-sidebar-file">
                  <use xlink:href="/img/app-icons.svg#icon-sidebar-file"></use>
                </svg>

                <% if @num_unfulfilled_orders > 0 %><span class="dot-badge dot-badge-success"></span><% end %>
              </a>
              <ul class="sub-menu ">
                <li>
                  <a href="/orders" target="" class="">Orders<span class="badge badge-success"><%= @num_unfulfilled_orders %></span></a>
                </li>
                <!-- <li>
                  <a href="https://app.oberlo.com/orders/manage" target="" class="">Fulfillment Monitoring</a>
                </li> -->
              </ul>
            </li>
            <!-- <li v-pre>
              <a href="https://app.oberlo.com/notifications" class="" target="">
                <svg class="icon icon-sidebar-bell">
                  <use xlink:href="/img/app-icons.svg#icon-sidebar-bell"></use>
                </svg>
                <span class="dot-badge dot-badge-danger"></span>
              </a>
              <ul class="sub-menu ">
                <li>
                  <a href="https://app.oberlo.com/notifications" target="" class="">
                  Notifications
                  <span class="badge badge-danger">1
                  </span>
                  </a>
                </li>
              </ul>
            </li> -->
          </ul>
        </nav>
        <nav class="nav-sidebar bottom">
          <ul class="nav-sidebar-menu">
            <li v-pre>
              <a href="<%= current_user.store_url %>" class="" target="_blank">
                <svg class="icon icon-sidebar-store">
                  <use xlink:href="/img/app-icons.svg#icon-sidebar-store"></use>
                </svg>
              </a>
              <ul class="sub-menu ">
                <li>
                  <a href="<%= current_user.store_url %>" target="_blank" class=""><%= current_user.shopify_store_name %>
                  </a>
                </li>
              </ul>
            </li>
            <li v-pre>
              <a href="https://app.oberlo.com/settings/shops" class="" target="">
                <svg class="icon icon-sidebar-settings">
                  <use xlink:href="/img/app-icons.svg#icon-sidebar-settings"></use>
                </svg>
              </a>
            </li>
            <li v-pre>
              <a href="https://app.oberlo.com/settings/account/profile" class="" target="">
                <div class="user-initials user-initials-color-0">SZ</div>
              </a>
              <ul class="sub-menu  profile-image-li ">
                <li>
                  <a href="https://app.oberlo.com/settings/account/profile" target="" class="">Profile
                  </a>
                </li>
                <li>
                  <a href="https://app.oberlo.com/settings/subscription" target="" class="">Manage Subscription
                  </a>
                </li>
                <li>
                  <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="container main-content">
        <%= yield %>
      </div>
    </div>
    <div class="container main-content space-top">
      
    </div>
  </body>
</html>
